[init]
	defaultBranch = main
[user]
	email = hugocoto100305@gmail.com
	name = Hugo Coto
[credential]
	helper = store
[push]
	autoSetupRemote = true
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
