@define-color foreground #d4be98;
@define-color background #141617;
@define-color gray #928374;

* {
    font-family: Iosevka NFP;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @gray;
    padding-left: 0.5em;
}

#workspaces button.active {
    color: @foreground;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#window,
#clock,
#tray {
    padding-right: 1em;
}
