[Desktop Entry]
Version=1.0
Type=Application

Name=InfiniPaint
Comment=Infinite canvas program
Categories=Graphics;VectorGraphics;
Keywords=paint;whiteboard;notes;drawing;draw;paint;painting;infinite;canvas;graphics;zoom

Icon=/home/hugo/infinipaint/linuxinstall/com.infinipaint.infinipaint
Exec=/home/hugo/infinipaint/build/Release/infinipaint %F
Terminal=false

MimeType=application/x-com.infinipaint.infinipaint.infpnt
