* {
        border: none;
        border-radius: 0;
        border-color: transparent;
        border-width: 0 px;
        outline: none;
        box-shadow: none;
}        

#window {
        margin: 0 px;
        background-color: #272e33;
}

#input {
        margin: 0 px;
        color: #bbc0b0;
        background-color: #272e33;
}

#input:focus {
}

#inner-box {
        margin: 0px;
        background-color: #abbc0b0;
}

#outer-box {
        margin: 6px;
        background-color: #abbc0b0;
}

#scroll {
        margin: 0px;
}

#text {
        margin: 5px;
        color: #bbc0b0;
}

#text:selected {
        color: #7fbbb3;
}

#entry:selected {
        background-color: transparent;
}
